html, body {
    margin: 0 auto;
    width: 80%;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #194da0 25%, #2586ed 60%, #2b9ee5 76%, #7db9e8 90%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%,#194da0 25%,#2586ed 60%,#2b9ee5 76%,#7db9e8 90%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%,#194da0 25%,#2586ed 60%,#2b9ee5 76%,#7db9e8 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
.page-header {
    position: center;
    text-align: center;
    margin: auto;
    margin-top: -3%;

}


.main {
    margin: 0 auto; /* Центрируем блоки */
    width: 100%; /* Задаем ширину 100%, чтобы сделать ее резиновой */
    max-width: 100%; /* Устанавливаем максимальную ширину */

}

.inline div {
    display: inline-block; /* Делаем блоки по горизонтали */
    vertical-align: top; /* Выравниваем их сверху */
    font-size: 16px; /* Ставим дочкам размер шрифта, иначе примет значение родителя */
}

div.inline {
    font-size: 0;
    
}
/* Ставим родителю значение 0, чтобы убрать отступы у блоков*/
.content {
    width: 80%;
}

.right-block {
    width: 20%;
    background: url("content.jpg") bottom;
}

footer {
}

.right-block ul {
    list-style: none;
    text-decoration: wavy;
    background-color:#ff0000;
    text-align:center;
}

.right-block li {
    background-color: rgba(9, 54, 148, 0.51);
    border:inset;
    padding:50%;
    border-bottom-color:#ff0000;
    margin:0 -20%;
}

img
{
    height:10%;
    width:10%;
}

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 3px solid #b94a48;
}
textarea.input-validation-error {
    border: 3px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
   