
@Styles.Render("~/Content/css")

@{
    ViewBag.Title = "Search";
}

@model Blogs.Model.Article.Keyword

@foreach (var item in Model.Articles)
{
    <div class="article">
        <h2>@item.Title</h2>
        <p>
            @item.Description
        </p>
        <p class="links"> @Html.ActionLink("Read more", "Index", "Guests", new { id = item.Id }, null)</p>
    </div>
}

